
.navbar {
  background-color: transparent;
  border: none;
  width: 100%;
}
.navbar-header {
  width: 100% !important;
  padding: 0px !important;
}
.brand {
  color: #ffe;
  font-family: 'Monofett', sans-serif;
  font-weight: 400;
  font-size: 2em;
  line-height: 2em;
  margin-left: 15px;
  letter-spacing: 2px;
  cursor: pointer;
}
.sign-in {
  margin-top: 8px;
  color: rgba(0,0,0, 0.33);
  margin-right: 0px;
}
